<div class="pokemon-detail">
  <div class="row">
    <div class="col-sm-5 col-md-4">
      <i class="sprite sprite-1"></i>
    </div>
    <div class="col-sm-7 col-md-8">
      <h1>Bulbasaur #1</h1>
      <div class="type grass">grass</div>
      <div class="type poison">poison</div>
      <p class="height-and-weight">
        <strong>Height:</strong> 0.7 m
        <strong>Weight:</strong> 6.9 kg
      </p>
      <p class="description">For some time after its birth, it grows by gaining nourishment from the seed on its back.</p>
    </div>
  </div>
</div>
